body, html {
    height: 100%;
}

.width50 {
    align-content: center;
    text-align: center;
    height: auto;
    width: 80%;
    margin: auto;
}
    
.index {
    margin: 20px auto;
}

.footer {
    font-size: 11px;
    margin: auto 0px 0px 20px;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

